.navBarContainer {
	background-color: var(--background-primary);
	padding: spacing.$spacing-200;
	@include typography.body-text-bold;
	ul {
		list-style: none;
		display: flex;
		gap: spacing.$spacing-200;
		border-bottom: 1px solid var(--input-border-tertiary);
	}
}
