.navBarContainer {
	background-color: var(--background-primary);
	padding-left: spacing.$spacing-200;
	padding-top: spacing.$spacing-400;
	@include typography.body-text-bold;
	user-select: none;
	ul {
		list-style: none;
		display: flex;
		gap: spacing.$spacing-200;
		border-bottom: 1px solid var(--input-border-tertiary);
	}
}
