.covidGraphContainer {
	padding: 1rem 0;

	&__casesLine {
		stroke: var(--graph-line-primary);
	}

	&__testLine {
		stroke: var(--graph-line-secondary);
	}

	&__deathsLine {
		stroke: var(--graph-line-tertiary);
	}
}
