.dateSelectorContainer {
	display: flex;
	gap: 1rem;
	justify-content: center;

	label {
		display: flex;
		flex-direction: column;
		@include typography.small-text;

		input {
			margin-top: 0.5rem;
			padding: 0.3rem;
			border: 1px solid var(--input-border);
			border-radius: 4px;
		}
	}
}
