.summaryCards {
	display: flex;
	gap: spacing.$spacing-150;
	flex-wrap: wrap;
	&__card {
		flex: 1;
		padding: spacing.$spacing-200;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: spacing.$spacing-200;
		border: 1px solid var(--input-border-secondary);
		border-radius: 8px;
		background: none;
	}
}
