.baseCard {
	height: 100%;
	width: 100%;
	position: relative;
	background-color: var(--background-tertiary);
	border-radius: 20px;
	padding: spacing.$spacing-400;
	border: 1px solid var(--input-border-secondary);
	box-shadow: 0px 16px 32px -4px rgba(0, 0, 0, 0.1);
}
