.nameFormResult {
	padding: spacing.$spacing-200;

	h2 {
		@include typography.body-text-large;
		margin-bottom: spacing.$spacing-150;
		text-align: center;
	}

	&__dataSectionWrapper {
		display: flex;
		gap: 1rem;
		justify-content: space-evenly;

		h3 {
			@include typography.body-text-bold;
			margin-bottom: spacing.$spacing-100;
		}

		p {
			@include typography.body-text;
			margin-bottom: spacing.$spacing-50;
		}

		li {
			display: flex;
			justify-content: space-between;
			gap: 1rem;
		}
	}

	&__dataSection {
		margin-top: spacing.$spacing-200;
	}

	.error {
		@include typography.body-text-bold;
		color: palette.$secondary-red;
	}
}
